<!DOCTYPE html>
<html>
  <head>
    <title>Minesweeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <main class="mt-14 px-20">
      <%= link_to "Back to Home", root_path %>
      <%= link_to "View all board", lists_path, class: "ml-5" %>

      <%= yield %>
    </main>
  </body>
</html>

